<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <title>选课管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="__ADMIN__/images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="__ADMIN__/layui/css/layui.css" media="all">
    <script src="__ADMIN__/js/jquery-1.12.4.js" type="text/javascript"></script>
    <script src="__ADMIN__/layui/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="__ADMIN__/css/myCss.css">



</head>

<body>
    <div class="layui-layout layui-layout-admin">
        <!--头部-->
        {include file="public/top" /}
        <!--头部END-->
        <!--侧栏-->
        {include file="public/left" /}
        <!--侧栏END-->
        <!--内容-->
        <div class="layui-body layui-tab-content" id="connn" style="bottom: 0px;">


            <span class="layui-breadcrumb">
                    <a href="{:url('index/index')}">首页</a>
                    <a href="{:url('student/lst')}">学生信息</a>
                    <a href="#"><cite>添加</cite></a>
                </span>
            <br><br>





            <form class="layui-form" role="form" action="" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label ">学号</label>
                    <div class="layui-input-block " style="width: 40%">
                        <input type="text" name="sno" lay-verify="title" autocomplete="off" placeholder="请输入学号" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item ">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-block" style="width: 40%">
                        <input type="text" name="sname" lay-verify="title" autocomplete="off" placeholder="请输入姓名" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label ">性别</label>
                    <div class="layui-input-block " style="width: 40%">
                    <input type="radio" checked="checked" class="layui-input" name="ssex" value="0" title="男"  >
                  <input type="radio"  checked="checked" class="layui-input" name="ssex" value="1" title="女"  >
                    </div>
                </div>

              

                <div class="layui-form-item ">
                    <label class="layui-form-label">班级</label>
                    <div class="layui-input-block " style="width: 40%">
                      <input type="text" name="sclass" lay-verify="title" autocomplete="off" placeholder="请输入班级" class="layui-input">
                    </div>

                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1"> 立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script type="text/javascript">
    layui.use('form', function(){
  var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
  
  //……
  
  //但是，如果你的HTML是动态生成的，自动渲染就会失效
  //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 
  //element.init();
  form.render();
});      
     
</script>
</html>