<!DOCTYPE html>

 <head runat="server"> 
  <title>选课管理系统</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <link rel="shortcut icon" href="__ADMIN__/images/favicon.ico" type="image/x-icon" /> 
  <link rel="stylesheet" href="__index__/layui/css/layui.css" media="all" /> 
  
  <script src="__ADMIN__/js/jquery-1.12.4.js" type="text/javascript"></script> 
   <script src="__ADMIN__/js/bootstrap.js" type="text/javascript"></script> 
  <script src="__ADMIN__/layui/layui.js" charset="utf-8">
    











  </script> 
  <link rel="stylesheet" href="__ADMIN__/css/myCss.css" /> 
 </head> 
 <body> 
  <div class="layui-layout layui-layout-admin"> 
   <!--头部--> {include file="public/top" /} 
   <!--头部END--> 
   <!--侧栏--> {include file="public/left" /} 
   <!--侧栏END--> 
   <!--内容--> 
   <div class="layui-body layui-tab-content" id="connn" style=""> 
     <span class="layui-breadcrumb">
                    <a href="{:url('index/index')}">首页</a>
                    <a href="{:url('dept/lst')}">教师信息</a>
                   
                </span>
                <br><br>
    <a href="{:url('teacher/add')}">
        <button class="layui-btn"> <i class="layui-icon">&#xe608;</i> 添加</button>
    </a>
    </fieldset> 
    <table class="layui-table" lay-skin="row" lay-even=""> 
     <colgroup> 
      <col width="150" /> 
      <col width="150" /> 
      <col width="200" /> 
      <col /> 
     </colgroup> 
     <thead> 
      <tr> 
       
       <th style=" text-align:center;">系编号</th> 
       <th style=" text-align:center;">系别</th> 
       <th style=" text-align:center;">班级</th> 
       <th style=" text-align:center;">简介</th> 
     
       
         <th style=" text-align:center;">操作</th> 
      </tr> 
     </thead> 
     <tbody>   {volist name="depts" id="vo" }
      <tr> 
    
        <td style=" text-align:center;">{$vo.did}</td> 
      
        <td style=" text-align:center;">{$vo.dname}</td> 
         <td style=" text-align:center;">{$vo.sclass}</td> 
          <td style=" text-align:center;">{$vo.ddesc}</td> 
     
        <td align="center">
                                    <a href="{:url('teacher/edit',array('id'=>$vo['did']))}" class="btn btn-primary btn-sm shiny">
                                        <i class="fa fa-edit"></i> <button class="layui-btn"><i class="layui-icon">&#xe642;</i></button>

                                    </a>
                               
                                    <a href="#"  class="btn btn-danger btn-sm shiny">
                                        <i class="fa fa-trash-o"></i> <button onclick=" layer.confirm('确定删除？', {
             btn: ['确定','取消'] //按钮
        },  function(){
                 
               document.location.href='{:url('teacher/del',array('id'=>$vo['did']))}';
            }, function(){
            layer.msg('已取消', {
            time: 2000, //2s后自动关闭
       
        });
});"  class="layui-btn layui-btn-danger"><i class="layui-icon">&#xe640;</i></button>
                                  </a>
            </td>
      </tr> 
     
        {/volist}
     </tbody> 


    </table> <div class="layui-col-md12" style="float: right;">
        <div id="layui-laypage-1" class="layui-box layui-laypage layui-laypage-default">{$depts}</div>
    </div>
 

   </div>    











  </div>
 </body>

</html>