
<div class="layui-side layui-bg-black" id="SiteSidebar">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="test" id="left1">
                    <li class="layui-nav-item layui-nav-itemed"><a href="javascript:;">个人选课</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="{:url('course/index')}"><i class="layui-icon">&#xe63a;</i> 选课信息</a></dd>
                           
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed"><a href="javascript:;">课程信息</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="{:url('sc/index')}"><i class="layui-icon">&#xe63a;</i>已选课程及成绩</a></dd>
                          
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed"><a href="javascript:;">信息管理</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="{:url('student/data')}"><i class="layui-icon">&#xe63a;</i> 个人信息</a></dd>
                            
                        </dl>
                    </li>
                </ul>
               
            </div>
        </div>