<div class="layui-side layui-bg-black" id="SiteSidebar">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="test" id="left1">
            <li class="layui-nav-item layui-nav-itemed"><a href="javascript:;">学生信息</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="{:url('teacher/lst')}"><i class="layui-icon">&#xe63a;</i>已选课</a></dd>

                </dl>
            </li>

            <li class="layui-nav-item layui-nav-itemed"><a href="javascript:;">成绩管理</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="{:url('teacher/grade')}"><i class="layui-icon">&#xe63a;</i> 学生成绩</a></dd>

                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed"><a href="javascript:;">个人管理</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="{:url('teacher/data')}"><i class="layui-icon">&#xe63a;</i> 信息修改</a></dd>

                </dl>
            </li>
        </ul>

    </div>
</div>